<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Airlines API webapp</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/../style.css">

  <script src="https://unpkg.com/vue"></script>
  <script type="module" src="/../scripts/carrier_statistics.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
	
  <div class="topnav">
    <a href="/../../../../index">Home</a>
    <a href="/../../../airports">Airports</a>
    <a href="/../../../carriers">Carriers</a>
    <a href="/../../../rankings">Carriers Rankings</a>
    <a href="/../../../statistics">Delay Statistics</a>
  </div>
	<div class="container" id="app">
    <h1 class="text-center">Statistics</h1>
    
    
    
    
    <fieldset>
      <legend><h3>Add or update data:</h3></legend>
      Month:<br>
      <input type="text" v-model="month">
      Airport:<br>
      <input type="text" v-model="airport">
      Data:<br>
      <textarea rows="4" cols="50" v-model="jason"></textarea>
      <br>
      <button v-on:click="addorupdate">Add or update data</button>
    </fieldset>
    
    <div class="card"  v-for="r in results">
      <div class="card-divider" style="background:#6495ED">
        <p>Month:{{r.time.label}}</p>
        <p>Airport:<a v-bind:href="'airports/' + r.airport.code">{{ r.airport.code }}</a></p>
      </div>
      <div class="card-section">
        <p>{{r.statistics}}</p>
      </div>
    </div>

    <br><br>

  </div>

</body>
</html>
